$appHeaderHeight: 2rem;
$appFooterHeight: 1.2rem;
$appSidebarWidth: 50px;
$contentPreviewPaneWidth: 180px;

$appColor: #e84c4c;
$highlightColor: rgb(176, 161, 250);
$fontColorDark: #000000;
$fontColorLight: #ffffff;

$thinBorder: .5px solid #666666;
$thickBorder: 1px solid #333333;

$mdiv0ZoneColor: hsl(0, 100%, 60%);
$mdiv1ZoneColor: hsl(300, 100%, 60%);
$mdiv2ZoneColor: hsl(240, 100%, 60%);
$mdiv3ZoneColor: hsl(180, 100%, 60%);
$mdiv4ZoneColor: hsl(120, 100%, 60%);
$mdiv5ZoneColor: hsl(60, 100%, 60%);
$mdiv6ZoneColor: hsl(30, 100%, 60%);
$mdiv7ZoneColor: hsl(330, 100%, 60%);
$mdiv8ZoneColor: hsl(270, 100%, 60%);
$mdiv9ZoneColor: hsl(210, 100%, 60%);
$mdiv10ZoneColor: hsl(150, 100%, 60%);
$mdiv11ZoneColor: hsl(90, 100%, 60%);
